<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Launch Academy</li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Learn on Campus</a></li>
      <li><a href="#">Learn Online</a></li>
      <li><button type="button" class="button">Apply</button></li>
    </ul>
  </div>
</div>

<div id="row_1" >
  <center>
    <p id="white_header" >Campus</p>
    <hr>
    <p id="description" >
      We streamline the time, cost, and job hunting process
      for you. Getting you a programming career in the most efficient and reliable way possible.
    </p>
    <a href="#" class="button" >Learn More</a>
  </center>
</div>


<div id="row_2">
  <center>
    <p id="color_header" >Online</p>
    <hr>
    <p id="description" >Become a developer at your own pace. Get unblocked
      with help from our staff to get back learning.
    </p>
    <p>
      <img src="../images/laptop.png" />
    </p>
    <a href="#" class="button" >Learn More</a>
  </center>
</div>

<div id="row_3" >
  <center>
    <p id="white_header" >Hire a Developer</p>
    <hr>
    <p id="description" >
      Hire with Launch Academy and meet emerging Software Developers at an upcoming Career Day!
    </p>
    <a href="#" class="button" >Join Career Day</a>
  </center>
</div>

<div id="row_4">
  <center>
    <p id="color_header" >Hiring Partners</p>
    <hr>
    <p id="description" >We work with the very best. We are proud of our partners, who work with us to deliver
      the best training.
    </p>
  </center>
</div>

<div class="row text-center" id="row_5">
  <div id="ads" class="small-up-1 medium-up-2 large-up-4 text-center">

      <div class="column" border="5">
        <img src="../images/hubspot.png/" >
        <div>
          Lorem ipsum dolor sit amet, ut suspendisse at, porttitor sit arcu, mauris rhoncus. Arcu porttitor in, nulla vitae fringilla, risus malesuada eget.
        </div>
      </div>


      <div class="column">
        <img src="../images/fidelity.png" >
        <div>
          Lorem ipsum dolor sit amet, ut suspendisse at, porttitor sit arcu, mauris rhoncus. Arcu porttitor in, nulla vitae fringilla, risus malesuada eget.
        </div>
      </div>

      <div class="column">
        <img src="../images/npr.png" >
        <div>
          Lorem ipsum dolor sit amet, ut suspendisse at, porttitor sit arcu, mauris rhoncus. Arcu porttitor in, nulla vitae fringilla, risus malesuada eget.
        </div>
      </div>

      <div class="column">
        <img src="../images/datto.png" >
        <div>
          Lorem ipsum dolor sit amet, ut suspendisse at, porttitor sit arcu, mauris rhoncus. Arcu porttitor in, nulla vitae fringilla, risus malesuada eget.
        </div>
      </div>
  </div>
</div>


<div class="row" id="row_6">
  <center>
    <div id="contact-us-section">
      <p id="color_header" >Contact Us</p>
      <hr>
      <p class="mbn">If you have questions or just want to say "Hi", drop us a message!</p>
      <p>We'd love to hear from you.</p>
    </div>
  </center>

  <div class="columns mtl">
    <form class="simple_form fancy-form" novalidate="novalidate" id="new_contact" action="/contacts" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="/fDSYHyDu0sYUpE5B5mAEBSrwzASz16xlIMT35eix0b7QURRQwdsHjYk1lK95sr17DR+qU1sRiEQN+pB7nmkpQ=="><div class="medium-6 columns">
    <div class="input string required contact_first_name"><input class="string required" placeholder="First Name" type="text" name="contact[first_name]" id="contact_first_name"></div>
    </div>
    <div class="medium-6 columns">
    <div class="input string required contact_last_name"><input class="string required" placeholder="Last Name" type="text" name="contact[last_name]" id="contact_last_name"></div>
    </div>
    <div class="medium-6 columns">
    <div class="input email optional contact_email"><input class="string email optional" placeholder="Email" type="email" name="contact[email]" id="contact_email"></div>
    </div>
    <div class="medium-6 columns">
    <div class="input tel optional contact_phone"><input class="string tel optional" placeholder="Phone" type="tel" name="contact[phone]" id="contact_phone"></div>
    </div>
    <div class="columns">
    <div class="input text required contact_contact_inquiry"><textarea class="text required" placeholder="What's on your mind?" name="contact[contact_inquiry]" id="contact_contact_inquiry"></textarea></div>
    </div>
    <div class="columns text-left">
    <div class="btn-green cta">
    <a href="#" class="button" >Submit</a>
    </div>
    </div>
    </form>
  </div>
</div>
